<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
MindPX是从PixHawk/Px4开发包中分支出来的一款开源无人机自动驾驶仪系统，并且在此基础上进一步增强了新的配置功能。

在2014年11月，MindPX飞控由AirMind公司首次开始自主研发。在此时AirMind公司已经是一个专注于智能无人机产品的创业公司。

### 移动客户端

立即体验 MindPX 客户端，直接扫描页面右侧二维码，或者应用市场搜索“MindPX”下载。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
