<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>飞控新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## 飞控入门

《**PX4**》

http://pixhawk.org/

《**APM**》

http://copter.ardupilot.com/


## 开发资源

https://github.com/PX4

https://github.com/diydrones

*/
        })) %>
      </div>
    </div>
  </div>
</div>
